%p 
- if @user != nil
  %p Welcome #{@user.name}
%h2 Auction listings:
%table
  %tr
    %th Item name
    %th Owner
    %th Expires
    %th Current price
  - @items.each do |item|
    %tr
      %td 
        %a{:href => "/items/" + item.item_id.to_s} #{item.name}
      %td #{item.user.name}
      %td #{item.expires_at.to_s}
      %td #{item.current_price}
      - if !@user.nil? && @user.admin
        %td 
          %a{:href => "/items/delete/" + item.item_id.to_s} [Delete]
%h3 Registered users:
- @users.each do |user|
  #{user.name}
