%p 
- if @name != nil
  %p= "Welcome " + @name
%h2 Auction listings:
%table.items{:border => "1"}
  %tr
    %th Item name
    %th Owner
    %th Expires
    %th Current price
  - @items.each do |item|
    %tr
      %td 
        %a{:href => "/items/" + item.item_id.to_s} #{item.name}
      %td #{item.user.name}
      %td #{item.expires_at.to_s}
      %td #{item.current_price}
%h3 Registered users:
%ul
  - @users.each do |user|
    %li #{user.name}
