- if @user
  %p Welcome #{@user.name}
%h2 Auction listings:
%form{:method => "post", :action => "/"}
  Sort:
  %select{:name => "sort"}
    %option Item name
    %option Seller
    %option Time left
    %option Current price
  Search: 
  %input{:type => "text", :size => "20", :maxlength => 20, :name => "query", :value => @query}
  %input{:type => "checkbox", :name => "reverse", :value => "reverse"} Reverse
  %input{:type => "submit", :value => "Go"}
- if @items.count > 0
  %table
    %tr
      %th Item name
      %th Seller
      %th Time left
      %th Current price
      %th Highest bidder
    - @items.each do |item|
      %tr
        %td 
          %a{:href => "/items/" + item.item_id.to_s} #{h item.name}
        %td #{h item.user.name}
        %td #{item.time_left_s}
        %td #{item.current_price}
        %td #{item.highest_bidder}
        - if @user && @user.admin
          %td 
            %a{:href => "/items/delete/" + item.item_id.to_s} [Delete]
- else
  %p No items to display
%h3 Registered users:
- @users.each do |user|
  #{h user.name}
