%p 
- if @name != nil
  %p= "Welcome " + @name
%table{:border => "1"}
  %tr
    %th{:colspan => "4"} Auction listings
  %tr
    %th Item name
    %th Owner
    %th Expires
    %th Current price
  - @items.each do |item|
    %tr
      %td 
        %a{:href => "/items/" + item.id.to_s} #{item.name}
      %td #{item.user.name}
      %td #{item.expires_at.to_s}
      %td #{item.current_price}
      
%p Registered users:
- @users.each do |user|
  %p #{user.name}
