 
%h2 #{h @item.name}
%h3 Description
%p= h @item.text
%h3 Sold by:
#{h @item.user.name}
%h3 Bids:
- if @item.bids.count > 0
  %table
    %tr
      %th Amount
      %th Bidder
      %th Time
    - @item.bids.all(:order => [:amount.desc]).each do |bid|
      %tr
        %td #{bid.amount_round}
        %td #{h bid.user.name}
        %td #{bid.age_s}
- else
  %p No bids to display
%h3 Current price: #{@item.current_price}
- if @user && @user != @item.user
  %p Make a bid:
  %form{:method => "post", :action => "/items/bid/" + @item.item_id.to_s}
    %input{:type => "text", :size => "20", :maxlength => 20, :name => "amount"}
    %p
      %input{:type => "submit", :value => "Bid!"}
  
%h3 Messages
- if @item.messages.count > 0
  %table
    %tr
      %th Sent
      %th Sender
      %th Title
    - @item.messages.all(:order => [:sent_at.asc]).each do |msg|
      %tr
        %td #{msg.age_s}
        %td #{h msg.sender.name}
        %td #{h msg.title}
      %tr
        %td
        %td{:colspan => "2"} #{msg.contents}
- else
  %p No messages to display
      
- if @user
  %h3 Leave a message
  %p Title:
  %form{:method => "post", :action => "/items/msg/" + @item.item_id.to_s}
    %input{:type => "text", :size => "20", :maxlength => 20, :name => "title"}
    %p
      %textarea{:rows => 5, :cols => 30, :name => "contents"}
    %p
      %input{:type => "submit", :value => "Send"}
